<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="resourceRef" value="true" />
		<property name="jndiName" value="jdbc/LMS" />
		<property name="lookupOnStartup" value="true" />
	</bean>
    
   
 
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
            <ref bean="dataSource"/> 
        </property>
        
    </bean>
    
<bean class="com.lms.Login.Login_DAOImpl" id="taskDAOTarget1">

<property name="dataSource" ref="dataSource"/>

</bean>
<bean class="com.lms.Student.DaoImpl" id="taskDAOTarget2">

<property name="dataSource" ref="dataSource"/>

</bean>
<bean class="com.lms.example1.Student_LoginDAOImpl" id="taskDAOTarget3">

<property name="dataSource" ref="dataSource"/>

</bean>
<bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" id="taskDAO2">


<property name="transactionManager">

<ref bean="transactionManager"/>

</property>

<property name="target">

<ref bean="taskDAOTarget2"/>

</property>


<property name="transactionAttributes">

<props>

</props>

</property>

</bean> 
    <bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" id="taskDAO1">


<property name="transactionManager">

<ref bean="transactionManager"/>

</property>

<property name="target">

<ref bean="taskDAOTarget1"/>

</property>


<property name="transactionAttributes">

<props>

</props>

</property>

</bean>
        <bean id="DeptDaoTarget" class="com.lms.Admin.AdminDaoImpl">
		<property name="dataSource" ref="dataSource" />

	</bean>
	<bean id="DeptDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
        <property name="transactionManager"> 
            <ref bean="transactionManager"/> 
        </property> 
        <property name="target"> 
            <ref bean="DeptDaoTarget"/> 
        </property> 
        <property name="transactionAttributes"> 
            <props> 
                <prop key="insert*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="update*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop> 
                <prop key="delete*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="find*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED, readOnly</prop> 
            </props> 
        </property>
    </bean> 
    <bean id="taskDAOTarget" class="com.lms.Admin.AdminDaoImpl">
		<property name="dataSource" ref="dataSource" />

	</bean>
	<bean id="taskDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
        <property name="transactionManager"> 
            <ref bean="transactionManager"/> 
        </property> 
        <property name="target"> 
            <ref bean="taskDAOTarget"/> 
        </property> 
        <property name="transactionAttributes"> 
            <props> 
                <prop key="insert*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="update*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop> 
                <prop key="delete*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="find*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED, readOnly</prop> 
            </props> 
        </property>
    </bean> 
    
    
    <bean id="tutorDAOTarget" class="com.lms.Tutor.TutorImpl">
		<property name="dataSource" ref="dataSource" />

	</bean>
	
	
	
	
	  	<bean id="tutDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"> 
        <property name="transactionManager"> 
            <ref bean="transactionManager"/> 
        </property> 
        <property name="target"> 
            <ref bean="tutorDAOTarget"/> 
        </property> 
        <property name="transactionAttributes"> 
            <props> 
                <prop key="insert*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="update*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop> 
                <prop key="delete*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="find*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED, readOnly</prop> 
            </props> 
        </property>
    </bean> 
    <bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" id="taskDAO3">


<property name="transactionManager">

<ref bean="transactionManager"/>

</property>


<property name="target">

<ref bean="taskDAOTarget3"/>

</property>


<property name="transactionAttributes">

<props>

  <prop key="insert*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="update*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop> 
                <prop key="delete*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED</prop>
                <prop key="find*">PROPAGATION_REQUIRED, ISOLATION_READ_COMMITTED, readOnly</prop> 

</props>
</property>


</bean>
    
</beans>